%a{ id: 'contact-link',  href: 'mailto:depsartnyc@gmail.com' } depsartnyc@gmail.com

%ul#social-links
  %li <a class='instagram' href='http://instagram.com/depsone'>Instagram</a>
  %li <a class='facebook' href='http://facebook.com/depsuno'>Facebook</a>
  %li <a class='tumblr' href='http://deps1nyc.tumblr.com/'>Tumblr</a>