%ul#myul
  -(1..50).each do |f|
    %li
      %img{ src: 'https://jerktest.s3.amazonaws.com/uploads/production/artwork/thumb_jerkfaces_pt2.jpg' }
    %li
      %img{ src: 'https://jerktest.s3.amazonaws.com/uploads/production/artwork/thumb_SummerOfTheJerk.jpg' }
    %li
      %img{ src: 'https://jerktest.s3.amazonaws.com/uploads/production/artwork/thumb_JerkKitty.jpg' }
    %li
      %img{ src: 'https://jerktest.s3.amazonaws.com/uploads/production/artwork/thumb_jerks_of_a_feather.jpg' }
    %li
      %img{ src: 'https://jerktest.s3.amazonaws.com/uploads/production/artwork/thumb_phone_bone.jpg' }
    %li
      %img{ src: 'https://jerktest.s3.amazonaws.com/uploads/production/artwork/thumb_MickeyNYC.jpg' }
    %li
      %img{ src: 'https://jerktest.s3.amazonaws.com/uploads/production/artwork/thumb_cartoon_villain.jpg' }
    %li
      %img{ src: 'https://jerktest.s3.amazonaws.com/uploads/production/artwork/thumb_year_of_the_jerk.jpg' }