%ul#myul
  -(1..25).each do |f|
    %li
      %img{ src: 'https://jerktest.s3.amazonaws.com/uploads/production/artwork/thumb_jerkfaces_pt2.jpg' }
    %li
      %img{ src: 'https://jerktest.s3.amazonaws.com/uploads/production/artwork/thumb_SummerOfTheJerk.jpg' }
    %li
      %img{ src: 'https://jerktest.s3.amazonaws.com/uploads/production/artwork/thumb_JerkKitty.jpg' }
    %li
      %img{ src: 'https://jerktest.s3.amazonaws.com/uploads/production/artwork/thumb_phone_bone.jpg' }
    %li
      %img{ src: 'https://jerktest.s3.amazonaws.com/uploads/production/artwork/thumb_MickeyNYC.jpg' }
    %li
      %img{ src: 'https://jerktest.s3.amazonaws.com/uploads/production/artwork/thumb_year_of_the_jerk.jpg' }