*, *:before, *:after { box-sizing: border-box; }
body{ background: url('https://s3.amazonaws.com/deps1/static/wood_bg.jpg'); }

header{
  background: url('http://deps1.com/files/2013/02/cropped-IMG_0940.jpg');
  border-top: white 5px solid;
  border-bottom: white 5px solid;
  margin-bottom: 20px;
  box-shadow: 0 0 20px black;
  width: 100%;
  color: #fff;
  h1{
    background: rgba(200,200,200,.35);
    margin: 0 0 5px 0;
    padding: 5px 0 5px 20px;
    text-shadow: 0 0 1px black;
  }
  ul{
    display: inline-block;
    margin: 0 auto;
    li{
      display: inline-block;
      margin: 0 10px 0 0;
      padding: 0;
      a{
        color: #fff;
        font-weight: bold;
        text-shadow: 0 0 5px black;
      }
    }
  }
}