*, *:before, *:after { box-sizing: border-box; }

body{ background: url('https://s3.amazonaws.com/deps1/static/wood_bg.jpg'); }

#main-header{
  padding: 1em 2em 0em;
  margin-bottom: 1em;
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0,.75);
  h1{
    margin: 0;
    padding: 0;
    height: 72px;
    background: url('https://s3.amazonaws.com/deps1/static/header.png') .25em 0;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
    text-indent: -9999px;
  }
  nav{
    padding: .25em .5em .25em;
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        display: inline-block;
          margin-right: .5em;
        a{
          color: #555;
          text-decoration: none;
          transition: color .25s ease-out;
          &:hover{
            color: #000;
          }
        }
      }
      &:before{
        content: "DEPS ";
        font-size: 1.5em;
        color: #333;
        margin-right: .5em;
      }
    }
  }
}
