#images{
  display: block;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  li{
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
    a{
      display: block;
      position: relative;
    }
  }
}

.no-touch #images{
  transition: width .25s ease-in;
  li img{
    transition:    height .125s ease-in-out, 
                    width .125s ease-in-out, 
                box-shadow .75s ease-out, 
                    opacity 2s ease-out;
    position: relative;
    z-index: 1;
    opacity: .075;
    &:hover{
      box-shadow: 0 0  45px 0px rgba(0,0,0,.8);
      opacity: 1;
      transition: opacity .5s, 
                box-shadow .125s ease-out;
      z-index: 100;
    }
  }
}

#artwork-container{
  margin: 0 auto;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px)
and (max-width : 480px) {
  header ul li{
    display: block;
  }
  #artwork-container{
    width: 320px;
    img{
      max-width: 320px;
    }
  }
  #images{
    width: 320px;
    li{
        height: 320px;
        width: 320px;
    }
  }
}

@media only screen 
and (min-width : 480px) {
  #artwork-container{
    width: 480px;
    img{
      max-width: 480px;
    }
  }
  #images{
    width: 480px;
    li{
      &:nth-child(5n+1),
      &:nth-child(5n+2){
        height:240px;
        width: 240px;
      }
      &:nth-child(5n+3),
      &:nth-child(5n+4),
      &:nth-child(5n+5){
        height: 160px;
        width: 160px;
      }
    }
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) {
  #artwork-container{
    width: 720px;
    img{
      max-width: 720px;
    }
  }
  #images{
    width: 720px;
    li{
      &:nth-child(7n+1),
      &:nth-child(7n+2),
      &:nth-child(7n+3){
        height:240px;
        width: 240px;
      }
      &:nth-child(7n+4),
      &:nth-child(7n+5),
      &:nth-child(7n+6),
      &:nth-child(7n+7){
        height: 180px;
        width: 180px;
      }
    }
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  #artwork-container{
    width: 960px;
    img{
      max-width: 960px;
    }
  }
  #images{
    width: 960px;
    li{
      &:nth-child(9n+1),
      &:nth-child(9n+2),
      &:nth-child(9n+3),
      &:nth-child(9n+4){
        height:240px;
        width: 240px;
      }
      &:nth-child(9n+5),
      &:nth-child(9n+6),
      &:nth-child(9n+7),
      &:nth-child(9n+8),
      &:nth-child(9n+9){
        height: 192px;
        width: 192px;
      }
    }
  }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  #artwork-container{
    width: 1200px;
  }
  #images{
    width: 1200px;
    li{
      &:nth-child(11n+1),
      &:nth-child(11n+2),
      &:nth-child(11n+3),
      &:nth-child(11n+4),
      &:nth-child(11n+5){
        height:240px;
        width: 240px;
      }
      &:nth-child(11n+6),
      &:nth-child(11n+7),
      &:nth-child(11n+8),
      &:nth-child(11n+9),
      &:nth-child(11n+10),
      &:nth-child(11n+11){
        height: 200px;
        width: 200px;
      }
    }
  }
}