%ul#images
  - @artworks.each do |artwork|
    %li
      %a{ href: artwork.image_url(:large).to_s, data: { sold: artwork.sold, title: artwork.title } }
        =image_tag artwork.image_url(:thumb).to_s, alt: artwork.title